# Secrets & Environments
.env
__pycache__/
*.pyc
venv/
.venv/

# AI Models & Weights (Heavy files)
*.pt
*.onnx
*.pkl
yolov8n.pt
yolov8s-world.pt

# User Datasets & Dynamic Logs
old_code/backend/dataset/
surveillance_logs/
intruders/
project_logs.csv
*.jpg
*.png
*.jpeg

# Old Code
old_code/

# OS & Editor Files
.DS_Store
.vscode/
.idea/