# --- Your Exact Core AI Engines ---
tensorflow==2.20.0
tf-keras==2.20.1
ultralytics==8.4.15
deepface==0.0.98
Pillow==12.1.1
numpy==2.4.2
google-genai==1.64.0
python-dotenv==1.2.1

# --- Cloud Server Framework  ---
fastapi
uvicorn
python-multipart
cloudinary

# --- Headless OpenCV  ---
opencv-python-headless==4.13.0.92